<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<<<<<<< HEAD
<h2>Comments</h2>
<div id="comments">
	<% @post.comments.each do |comment|%>
	<%= div_for comment do %>
	<p>
<strong>Posted <%= time_ago_in_words(comment.created_at)%></strong><br />
%= h(comment.body) %>
</p>

		<%end%>
<%end%>
</div>

=======
>>>>>>> 00834a761eb5fbb74d31583cb1a0f4872fc65e95
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
